<div id="preview_wrap" class="dib vat w-65 w-md-95 sm-hide f-14 md-text-left">
    <div class="mtop-40 c-white fw-light">
        Предпросмотр акции
    </div>
    <div id="preview">
        <h1 id="title" class="no-data">
        </h1>
        <div class="row f-0">
            <div class="dib vat w-60 f-14">
                <img src="/img/no-data.png"
                     class="img-responsive">
                <div id="text" class="no-data">
                </div>
            </div>
            <div class="dib w-5"></div>
            <div class="dib vat w-35">
                <div id="price" class="no-data">
                </div>
                <button class="btn btn-yellow mtop-20 no-data">Купить</button>
                <div class="basic-information mtop-20 f-0 no-data">
                </div>
                <button class="btn btn-white-blue-border btn-favorite mtop-20 w-100 no-data">Добавить в избранное</button>
                <div id="counter" class="counter mtop-30 no-data">
                </div>
                <div id="place" class="mtop-30 no-data">
                </div>
            </div>
        </div>
    </div>
</div>