<div id="user-form">
    <div class="container">
        <div class="form_wrap w-85 m-auto">
            <h1 class="ttu f-32 fw-bold text-center">Укажите ваши данные</h1>
            <div class="text f-14 ttu text-center">Вся информация конфиденциальна и не будут переданы третьим лицам.
            </div>
            <div class="cols f-0 mtop-80">
                <div class="dib w-50 w-sm-100 w-md-80 vat f-14 m-auto md-db">
                    <label>
                        Укажите фио <br>
                        <input type="text" class="w-60" placeholder="Фамилия Имя Очество">
                    </label>
                    <label>
                        Контактный телефон <br>
                        <input type="text" class="w-40" placeholder="+380 (ХХ) ХХХ-ХХ-ХХ">
                    </label>

                    <a href="#" class="btn btn-white-blue-border btn-add">Добавить ещё один</a>

                    <label class="mtop-60">
                        Ваш E-Mail <br>
                        <input type="text" class="w-40" placeholder="E-mail@name.com">
                    </label>

                    <label>
                        Ваш город <br>
                        <input type="text" class="w-30" placeholder="Киев">
                    </label>

                    <label>
                        <span class="help">Адрес вашего сайта</span> <br>
                        <input type="text" class="w-40" placeholder="www.site_name.com">
                    </label>

                    <div class="db">
                        <label>
                            Выберете тип размещения <br>
                            <span class="db w-70 mtop-15">
                                <select>
                                    <option>Я плачу комиссию за продажу</option>
                                    <option>Клиент платит комиссию за продажу</option>
                                </select>
                            </span>
                        </label>
                    </div>

                    <div class="db checkbox-list">
                        <label>
                            <input type="checkbox"><i></i>
                            <span>Вы принимаете <a href="#" target="_blank">Пользовательское соглашение</a></span>
                        </label>
                    </div>

                    <div class="db mtop-40">
                        <button class="btn btn-yellow btn-next-step">Дальше</button>
                    </div>

                </div>
                <div class="dib w-50 w-sm-100 w-md-100 vat mtop-sm-40 mtop-md-60 f-14 text-center">
                    <div class="dib w-50 w-sm-100 w-md-80">
                        <div class="f-26">Сверхприбыльный
                            маркетинг
                        </div>
                        <div class="text lh-1-4 mtop-20">
                            Более 1 миллиона покупателей приобрели купоны у нас
                            на портале и стали активными клиентами наших партнеров. Более 80% запущенных акций стали
                            успешными.
                        </div>
                    </div>
                    <div class="dib w-50 w-sm-100 w-md-80 mtop-60">
                        <div class="f-26">У нас активные
                            пользователи
                        </div>
                        <div class="text lh-1-4 mtop-20">
                            Наши пользователи лояльны
                            к местам , которые они любят.
                            Они будут рекомендовать любимые места друзьям.
                            Просто удивите их.
                        </div>
                    </div>
                    <div class="dib w-50 w-sm-100 w-md-80 mtop-60">
                        <div class="f-26">Мы новый
                            канал роста
                        </div>
                        <div class="text lh-1-4 mtop-20">
                            Начните продавать в интернете еще больше. Разместие одну акцию и вы получите аудиторию более
                            2 млн. человек
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>